/*******************LOGO************************/

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}



/********************SEARCH***********************/
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:500px) {
        order: 1;
        display: none;
    }

    

    &__input {
        font-family: inherit;
        font-size: 1.4rem;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .6s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus+&__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;

        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

/******************USER NAVİGATİON****************/

.user-nav {

    align-self: stretch;
    display: flex;
    align-items: center;


    &>* {
        padding: 0 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);

    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }


}

/****************************SIDE NAVGITAION*****************************/
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width:900px) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width:900px) {
                margin: 0;
            }
        }

        @media only screen and (max-width:900px) {
            flex: 1;
        }
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scale(0);
        transform-origin: bottom;
        transition: transform .2s,
            width .4s cubic-bezier(1, 0, 0, 1) .2s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        @media only screen and (max-width:900px) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width:600px) {
            flex-direction: column;
            padding: 1.5rem .5rem;
        }


    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width:600px) {
            margin-right: 0;
            margin-bottom: .2rem;
            width: 1.5rem;
            height: 1.5rem;
        }

    }
}


/*****************************LEGAL TEXT*******************************/

.legal {

    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width:900px) {
        display: none;

    }
}

/***********************GALLERY**********************************/

.gallery {
    display: flex;


    &__photo {
        width: 100%;
        display: block;
    }
}

/***********************HOTEL OVERVİEW**********************************/

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-dark-2);

    &__heading {
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width:600px) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;

    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:600px) {
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;

        @media only screen and (max-width:600px) {
            font-size: 1.8rem;
        }

    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width:600px) {
            font-size: .5rem;
        }

    }
}


/***********************BUTTON**********************/

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/*************PARAGRAPH********************/
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

/*************LIST********************/
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before {
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;


        background-color: var(--color-primary);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}

/*************RECOMMEND********************/

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__friends {
        display: flex;
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}

/*********************USER REVİEW*****************/

.review {

    background-color: #fff;
    text-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width:900px) {
        margin-bottom: 2rem;
        padding: 2rem;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-weight: 300;
        font-size: 2.2rem;
    }

    &::before {
        content: '\201C';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;


    }
}


/**************CTA*********************/

.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width:900px) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

/********************Button******************/

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;


    &__visible {
        display: inline-block;
        padding: 2rem 7.5rem;
        transition: all .2s;


    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &__invisible {
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: -100%;
        transition: all .2s;

    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;

    }







}